@tailwind base;
@tailwind components;
@tailwind utilities;



.categoryCont {
    display:flex;
justify-content:space-evenly;
align-items:center;
max-width:100vw;
background-color:#fff;
border-bottom:1px solid rgba(0,0,0,0.2);
}

.cateBox {
    cursor:pointer;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:10px 10px;
}

.cateBox img{
    width:50%;
}
.cateBox img span:hover{
    color:#0C73EB;
}

@media (max-width:768px) {
    .cateBox {
        padding:10px 2px;
    }

    .cateBox:nth-child(7){
        display:none;
    }
.cateBox:nth-child(8){
        display:none;
    }
.cateBox:nth-child(9){
        display:none;
    }

    .cateBox span{
        display:none;
    }
    .cateBox img{
        width:70%;
    }
}

